.form {
    margin-top: 50px;
    background-color: white;
    padding-rigth: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}