* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 105px;
    display: flex;
    align-items: center;
}

.admin-layout {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "header header" "sidebar main";
    height: 100vh;
}

.admin-layout__header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background-color: #fff; 
    padding: 40px;
}

.admin-layout__left {
    grid-area: sidebar;
    overflow-y: auto;
}

.admin-layout__rigth {
    grid-area: main;
    padding: 20px;
    overflow-y: auto;
}
